<?xml version="1.0" encoding="utf-8"?>
<!--
 | Version 10.2
 | Copyright 2013 Esri
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->
<ProxyConfig>

    <!-- Provide the URL of your application's site (or even just the URL of the server) so that only it
         may use the proxy. If this section is omitted, any application on any site in the world may use
         the proxy. -->
    <applicationSiteUrl>yourSiteUrl</applicationSiteUrl>

    <!-- Provide as much of the URL prefix as possible for servers that you'll permit, including rewritten URLs
         such as "https://www.arcgis.com/sharing/". If this section is omitted, no sites outside of your server
         may be queried for data. -->
    <!-- The "exemptRSS2" switch ("false" if omitted) indicates if RSS feeds are exempt from the accepted servers
         restriction. If "true" and the URL prefix is not in the list of server URLs below, then the proxy
         retrieves the URL content but will not forward it to the app unless the content parses as RSS 2. If the
         URL prefix is in the list, then the proxy does not check its returned content for RSS 2. -->
    <serverUrls>
        <!-- url: permitted external site; use either specific URL or stem -->
        <serverUrl url="http://tryitlive.arcgis.com/arcgis/rest/services/"></serverUrl>
        <serverUrl url="http://services.arcgis.com/b6gLrKHqgkQb393u/arcgis/rest/services/"></serverUrl>
        <serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest/services/"></serverUrl>
        <serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest"></serverUrl>
        <serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest"></serverUrl>
        <serverUrl url="http://server.arcgisonline.com/ArcGIS/rest"></serverUrl>
        <serverUrl url="http://services.arcgisonline.com/ArcGIS/rest"></serverUrl>
        <serverUrl url="http://serverapi.arcgisonline.com/jsapi"></serverUrl>
        <serverUrl url="http://geocode.arcgis.com/arcgis/rest/services/"></serverUrl>
        <serverUrl url="http://route.arcgis.com/arcgis/rest/services/"></serverUrl>
    </serverUrls>

</ProxyConfig>
